# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build / caches
dist/
.next/
out/
coverage/
.eslintcache

# Env & secrets
.env
.env.*
!.env.example

# OS / Editors
.DS_Store
*.swp
.vscode/
.idea/

